<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>도서 등록 | 도서관리시스템</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div class="container">
    <h2>도서 등록</h2>

    <form>
        <div class="input-box">
            <label>도서명</label>
            <input type="text" required>
        </div>

        <div class="input-box">
            <label>저자</label>
            <input type="text" required>
        </div>

        <div class="input-box">
            <label>출판사</label>
            <input type="text">
        </div>

        <div class="input-box">
            <label>ISBN</label>
            <input type="text">
        </div>

        <button class="btn">등록</button>
    </form>
</div>

</body>
</html>
